@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Inter&display=swap');

/* index of about section */
.about_us{
        position: relative;
        padding: 5rem 3rem;
}

.grid_two_col{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 6rem;
        justify-items: center;
        align-items: center;
        position: relative;
}

.first_col{
        position: relative;
}
.second_col{
        position: relative;
}

.about_circle{
        background-image: url('../assets/ancient_tour.jpg');
        background-size: cover;
        background-attachment: fixed;
        border: 2px solid rgb(247, 158, 75);
        box-shadow: 89px 15px 2px rgba(255, 158, 1, 0.989);
        width: 30rem;
        height: 30rem;
        border-radius: 25rem 25rem;
        overflow: hidden;
}

.about_circle>img{
        width: 100%;
        height: 100%;
        transition: .5s ease;
}
.about_circle>img:hover{
      transform: scale(1.2);
}
.parallex2{
        width: 15rem;
        height: 15rem;
        border: 4px solid rgb(255, 255, 255);
        box-shadow: -319px 465px 3px rgba(247, 113, 4, 0.842);
        border-radius: 20rem 20rem;
        background-image: url('https://images.pexels.com/photos/7919683/pexels-photo-7919683.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-size: contain;
        background-attachment: fixed;
        position: absolute;
         top: -3rem;
         right: 2rem;
}

.second_col>h1{
     font-weight: 500;   
     font-size: 2.5rem;
     font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.second_col>p{
        word-spacing: 2px;
        color: rgb(39, 40, 41);   
        font-size: 1.1rem;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
}



/*🅰🩹 About page */
.about_page_m_con{
        position: relative;
        bottom: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}
.about_first_con{
        position: relative;
        top: 11rem;
        width: 37rem;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.about_first_con>h1{
    font-weight: 400;
    font-size: 3.9rem;
    margin-bottom: 1.9rem;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.about_first_con>p{
        font-weight: 400;
        font-size: 1.1rem;
        margin-bottom: 1.9rem;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        color: rgb(53, 50, 50);
}

.about_image_con{
        width: 35rem;
        height: 25rem;
        overflow: hidden;
}
.about_image_con>img{
        width: 100%;
        height: 100%;
}


.about_second_con{
        width: 100%;
        height: 54vh;
        background-color: #edd3bfbf;
}

@media (max-width:1174px){
        .grid_two_col{
              gap: rem;
        }
       .about_circle{
                border: 2px solid rgb(247, 158, 75);
                box-shadow: 89px 15px 2px rgba(255, 158, 1, 0.989);
                width: 20rem;
                height: 20rem;
        }
        .parallex2{
                width: 10rem;
                height: 10rem;
                border: 4px solid rgb(255, 255, 255);
                box-shadow:-219px 335px 3px rgba(247, 113, 4, 0.605);
                top: 0rem;
                right: 2rem;
                z-index: -1;
        }
        .second_col>p{
                font-weight: 500;   
                font-size: 1rem;
        }



        /* About page */
        .about_first_con{
                /* left: 27%; */
                top: 11rem;
        }
}
@media (max-width:965px){
        .grid_two_col{
                gap: 4rem;
          }
       .about_circle{
                border: 2px solid rgb(255, 255, 255);
                box-shadow: 39px 9px 2px rgba(255, 158, 1, 0.989);
                width: 20rem;
                height: 20rem;
        }
        .parallex2{
                width: 7rem;
                height: 7rem;
                border: 4px solid rgb(255, 255, 255);
                box-shadow:-219px 335px 3px rgba(247, 113, 4, 0.332);
                top: 0rem;
                right: 2rem;
        }
}
@media (max-width:720px){
        .about_us{
                position: relative;
                padding: 5rem 1rem;
        }
.grid_two_col{
        grid-template-columns: 1fr;
}
       .about_circle{
                border: 2px solid rgb(255, 255, 255);
                box-shadow: 39px 9px 2px rgba(255, 158, 1, 0.989);
                width: 25rem;
                height: 25rem;
        }
        .parallex2{
                width: 14rem;
                height: 14rem;
               top: 2rem;
                right: 1rem;
                z-index: -1;
        }
        .second_col>h1{
                font-size: 2rem;
           }
           .second_col>p{
                   font-size: .9rem;
           }
           
           /* about page */
           .about_first_con{
                position: relative;
                top: 7rem;
                width: 24rem;
                padding: 0;
        }
           .about_image_con{
                width: 100%;
                height: 18rem;
                overflow: hidden;
        }

        
}
@media (max-width:419px){
       
       .about_circle{
              width: 13rem;
                height: 13rem;
        }
        .parallex2{
                width: 10rem;
                height: 10rem;
                border: 4px solid rgb(255, 255, 255);
                box-shadow:-189px 245px 3px rgba(247, 113, 4, 0.332);
                top: 1rem;
                right: 1rem;
                z-index: -1;
        }

               /* about page */
               .about_first_con{
                position: relative;
                top: 5rem;
                width: 20rem;
                padding: 0;
        }
           .about_image_con{
                width: 100%;
                height: 14rem;
                overflow: hidden;
        }
        .about_first_con>h1{
                font-size: 2.9rem;
                margin-bottom: 1.9rem;
            }
            .about_first_con>p{
                    font-size: .9rem;
                    margin-bottom: 1.9rem;
            }

            .about_second_con{
                width: 100%;
                height: 34vh;
                background-color: #edd3bfbf;
        }
}