.carsole_first_con{
        width: 100%;
        height: 82vh;
        margin-bottom: 6rem;
}

.carsole_images_con{
        width: 100vw;
        height: 82vh;
        overflow: hidden;
        outline: none;
}
.carsole_images_con>img{
        width: 100%;
        height: 100%;
}


@media(max-width:994px){
        .carsole_first_con{
                width: 100%;
                height: 73vh;
        }
        .carsole_images_con{
                width: 100vw;
                height: 73vh;
        }


}

@media(max-width:784px){
        .carsole_first_con{
                width: 100%;
                height: 63vh;
                margin-bottom: 6rem;
        }
        .carsole_images_con{
                width: 100vw;
                height: 63vh;
                overflow: hidden;
                outline: none;
        }


}

@media(max-width:554px){
        .carsole_first_con{
                width: 100%;
                height: 43vh;
                margin-bottom: 6rem;
        }
        .carsole_images_con{
                width: 100vw;
                height: 43vh;
                overflow: hidden;
                outline: none;
        }

        .carsole_images_con>img{
                width: 100vh;
                transform:scale(1.3);
                background-size: cover;
                background-position: center;
                
        }



}
@media(max-width:454px){

        .carsole_images_con>img{
                width: 74vh;
                transform:scale(1.3);
                background-size: cover;
                background-position: center;
                
        }



}