/* home  of contact */
.contact_main{
        background-color: rgb(250, 249, 249);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
        height: 80vh;
        padding: 6rem 5%;

}
.contact_info{
        width: 20rem;
        height: 79.8vh;
        border-radius: 0 1.5rem 1.5rem 0;
        background-color: #23c2ead1;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
}
.contact_info>h1{
        font-weight: 500;
        font-size: 2rem;
        color: rgb(255, 255, 255);
        font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.contact_info_mohit{
        position: absolute;
        top: 15%;
        left: 50%;
        width: 25rem;
        height: 30rem;
        border-radius: 0 1.5rem 1.5rem 0;
        background-color: #f8f9fb;
        box-shadow: 1px 1px 15px rgba(159, 154, 154, 0.515);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.contact_info_data{
        margin: 1rem 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
#contact_icons{
        font-size: 2rem;
        color: #FF7E52;
}
.contact_info_data>p,
.contact_info_data>a{
        font-weight: 500;
        color: rgb(85, 83, 90);
        text-align: center;
        text-decoration: none;
}

.contact_3_con{
        display: flex;  
        align-items: center;
        justify-content: center;
        padding: 2rem  0;
        width: 100%;
  }
  .contact_3_con>form{
        display: flex;  
        flex-direction: column;
        width: 100%;
        height: 100%;
      
  }
  .contact_3_con>form>span{
          color:  #00CBFF;
          font-weight: 500;
          position: relative;
          top: .1rem; 
          
  }
  .contact_3_con>form>h2{
          color: rgb(4, 78, 117);
          font-weight: 500;
          position: relative;
          font-size: 2rem;
          text-align: start;
          font-family: 'Barlow', sans-serif;
          
  }
  .contact_3_con>form>input{
          font-weight: 500;
          position: relative;
          padding: .5rem 1rem;
          background-color: #ffffff00;
          font-size: 1rem;
          margin: .1rem;
          width: 100%rem;
          text-align: start;
          border: 1px solid #bebcbc;
          outline: none;
        }
        .contact_3_con>form>textarea{
          border: 1px solid #bebcbc;
          background-color: #ffffff00;
          font-weight: 500;
          position: relative;
          padding: .5rem 2rem;
          font-size: 1rem;
          margin: .1rem;
          text-align: start;   
          outline: none;
  }
  .contact_3_con>form>input:focus,
  .contact_3_con>form>textarea:focus{
        border: 1px solid #f6bb7c;
  }

  

  .contact_3_con>form>button{
          width: 9rem;
          padding: .3rem 0;
          font-weight: 700;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1rem;
          margin: 1rem 0;
          color: white;
          background-color:#00CBFF;
          border: 2px solid #00CBFF;
          transition: .5s ease;
  }
  .contact_3_con>form>button:hover{
          cursor: pointer;
          margin: 1rem 0;
          color: #fff;
          background-color:#08a3ca;
          border:2px solid #04a2c9;
  }
  
  
  @media (max-width:1254px){
        .contact_info{
                width: 17rem;
                height: 79.8vh;
        }
        .contact_info_mohit{
                top: 13%;
                left: 40%;
                width: 22rem;
                height: 30rem;
        }
        .contact_info_data{
                margin: 1rem 0;
                width: 80%;
        }
  }
  @media (max-width:1024px){
        .contact_main{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 8rem;
                padding: 0 5%;
                height: 120vh;   
        }
        .contact_info{
                width: 100%;
                height: 29.8vh;
                border-radius: 0 0 1.5rem 1.5rem;
        }
        .contact_info_mohit{
                top: 45%;
                left: 10%;
                width: 80%;
                height: 15rem;
                border-radius: 0 0 1.5rem 1.5rem ;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
        }
        .contact_info_data{
                margin: 1rem 0;
                width: 30%;
        }
        .contact_3_con>form>textarea{
                height: 5rem;
        }

  }
  @media (max-width:784px){
        .contact_info_mohit{
                top: 35%;
                left: 5%;
                width: 90%;
                height: 15rem;
                border-radius: 0 0 1.5rem 1.5rem ;
        }
        .contact_info_data>p,
        .contact_info_data>a{
                font-size: .9rem;
}
     
  }
  @media (max-width:654px){
        .contact_main{
                display: grid;
                grid-gap: 1rem;
                justify-content: center;        
         height: 150vh;
        }
        .contact_info{
                position: relative;
                width: 100%;
                height: 45.8vh;
                border-radius: 0 0 1.5rem 1.5rem;
        }
        .contact_info_mohit{
                width: 90%;
                height: 25rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        }
        .contact_info_data{
                margin: 1rem 0;
                width: 80%;
        }
      
  }
  @media (max-width:324px){
        .contact_main{
                justify-items: center;        
        
        }
        .contact_3_con>form>h2{
            font-size: 1.5rem;
        }
        .contact_info{
              
                width: 90%;
        }

        .contact_3_con{
                top: 16rem;
                width: 90%;
          }
  }


  /* contact us of page */
  .contactus_m_con{
padding: 0rem 2rem 6rem 2rem;

}

.grid_two_col{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;

}
.contact_first{
        width: 100%;
        height: 100%;
        overflow: hidden;
}
.contact_first>img{
        width: 100%;
        height: 100%;
}

.contact_second{
        width: 80%;
        height: 80%;
        border-radius: 1rem;
        margin-top: 5rem;
        background-color: rgba(216, 214, 219, 0.251);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.contact_second>h1{
        font-size: 3rem;
        font-weight: 500;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.contact_second>form>input,
.contact_second>form>textarea{
        font-size: 1.1rem;
        border: none ;
        padding: .3rem;
        background-color: #ffffff3a;
        outline: none;
        width: 25rem;
        font-family: 'Source Sans Pro', sans-serif;
}
#Underline_{
        width: 100%;
        height: .1rem;
        background-color:rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        position: relative;
        margin-bottom: 1rem;
}

.checkbox{
        display: flex;
}
#accept{
        margin-right: 1rem;
        cursor: pointer;
}
.contact_btn{
        width: 100%;
        cursor: pointer;
        font-size: 1.2rem;
        border-radius: .5rem;
        padding: .5rem;
        background-color: #1e1d1df4;
        color: white;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.contact_btn:hover{
        width: 100%;
        padding: .5rem;
        background-color: #3b3737f4;
        box-shadow: 0 0 0;
}

@media (max-width:1292px){

        .contact_second{
                width: 90%;
                height: 100%;
        }
        .contact_second>form>input,
        .contact_second>form>textarea{
                width: 24rem;
        }.contact_second>form>input,
.contact_second>form>textarea{
        font-size: 1.1rem;
        border: none ;
        padding: .3rem;
        background-color: #ffffff3a;
        outline: none;
        width: 22rem;
}
}

@media (max-width:1006px){
        .contactus_m_con{
                padding: 6rem .5rem;
                
                }
        .contact_second{
                width: 100%;
                height: 100%;
        }
        .contact_second>form>input,
        .contact_second>form>textarea{
                width: 22rem;
        }
        .contact_second>h1{
                font-size: 2.5rem;
        }
}

@media (max-width:822px){
        .grid_two_col{
                display: grid;
                grid-template-columns: repeat(1,1fr);
        
        }
        .contact_second{
                width: 100%;
                height: 100%;
        }
   
        .contact_second>form>input,
        .contact_second>form>textarea{
                width: 22rem;
        }
}

@media (max-width:467px){

        .contact_second{
                width: 100%;
                height: 100%;
        }
        .contact_second>h1{
                font-size: 2rem;
        }
        .contact_second>form>input,
        .contact_second>form>textarea{
                width: 19rem;
        }
}
