.image-box {
        position: relative;
        overflow: hidden;
      }
      
      
      .image-box:hover  #img{
        transform: scale(1.2);
      }
      
      
      
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #08bae6b6;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      
      .overlay small,p {
        color: #ffffff;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
      }
      
      .image-box:hover .overlay {
        opacity: 1;
      }
      
      @media(max-width:554px){
        .overlay p {
                color: #ffffff;
                font-size: .8rem;
                font-weight: 500;
                text-align: center;
              }
      }