

#gallery_m_con::-webkit-scrollbar {
        display: none;

}
#gallery_m_con{

        margin: 3rem 0;
}

@media(max-width:554px){
        #gallery_m_con{
                margin: 3rem 0;
                padding: 4rem .5rem;
        }
}