.otm_m_con_fbgc{
      
        background-image: url('../assets/ourteam.jpg');
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
}
.otm_m_con{ 
        padding: 5rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.712);
}
.otm_m_con>h1{
        font-size: 2.8rem;
        font-weight: 500;
        color: rgb(255, 255, 255);
        font-family: 'Lato',sans-serif;
        
        
}
#underline_{
        width: 10%;
        height: 2px;
        background-color:#fc632f;
        position: relative;
        bottom: 1.8rem;
        left: -1rem;
}
.otm_data{
        width: 80vw;     
}
.carsole_otm_works{
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
#member_otm_name{
        font-size: 1.5rem;
        font-weight: 500;
        color: #ffffff;
        font-family: 'Source Sans Pro', sans-serif;
}
#member_otm_deg{
        font-size: 1.2rem;
        font-weight: 400;
        color: #ffffff;
        position: relative;
        bottom: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
}
#member_otm_position{
        font-size: 1.04rem;
        font-weight: 500;
        color: #00CBFF;
        position: relative;
        left: 20%;
        font-family: 'Lato',sans-serif;
}
#line_{
        width:5rem;
        height: 2px;
        background-color:#fd4a0e;
        position: relative;
        top: .2rem;
        /* left: -2rem; */
}

@media (max-width:764px){
        #underline_{
                width: 15%;
                height: 2px;
                background-color:#fc632f;
                position: relative;
                bottom: 1.8rem;
                left: -2rem;
        }
}
@media (max-width:464px){
        #underline_{
                width: 28%;
                height: 2.5px;
                background-color:#fc632f;
                position: relative;
                bottom: 2rem;
                left: -2rem;
        }
}