@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Pontano+Sans&family=Roboto&display=swap');


.footer_m_con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0em 2rem;
        margin-top: 2rem;
        background-color: #173142;
}

#copyright{
        color: white;
}


.footer_grid_three_col{
        width: 100%;
        display:flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
}

.footer_F_col{
   width: 23rem;

}
.footer_F_col>img{
        width: 9rem;
        height: 7rem;
        margin-bottom: 1rem;
}
.footer_F_col>p,
.footer_F_col>h4,
.footer_S_col>h4,
.footer_T_col>h4{
        color: rgb(232, 226, 226);
        font-family: 'Pontano Sans', sans-serif;

}
.footer_F_col>p :hover,
.footer_F_col>h4:hover,
.footer_S_col>h4:hover,
.footer_T_col>h4:hover {
        color: rgb(0, 255, 200);
}

.footer_F_col>p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer_icons>span{
        color: rgb(255, 255, 255);
        font-size: 1rem;
        margin-left: .4rem;
        transition: .5s ease;
}
.footer_icons>span:hover{
        cursor: pointer;
        color: rgb(255, 149, 0);
        font-size: 1rem;
        margin-left: .4rem;
}

.footer_col3{
        width: 10rem;
        display: flex;
        flex-direction: column;
   }
   .footer_col3>h3{
           color: white;
           font-weight: 500;
   }
   
   .footer_col3>p,
   .footer_col3>p>a{
           text-decoration: none;
           color: white;
           font-weight: 500;
   }
   .footer_col3>p>a:hover,
   .footer_col3>p:hover{
           color: rgb(0, 255, 229);
           font-weight: 500;
   }

.footer_T_col{
   width: 30rem;
}


form>input{
        width: 27rem;
        outline: none;
        margin-bottom: 1rem;
        padding: .3rem;
        font-family: 'Kite One', sans-serif;
}
form>textarea{
        width:27rem;
        padding: .3rem;
        outline: none;
        margin-bottom: 1rem;
        font-family: 'Kite One', sans-serif;
}
form>button{
        border: none;
        background-color: #079b96;
        color: rgb(255, 255, 255);
        font-weight: 500;
        padding: .5rem 0;
        font-size: 1.2rem;
        place-self: start;
        width: 10rem;
        outline: none;
        transition: .5s ease;
        cursor: pointer;
}
form>button:hover{
        border: none;
        background-color: #10cac4;
        box-shadow: 0 0 5px #00fff7;
        color: rgb(255, 255, 255);
}




@media (max-width:521px){


        
form>input{
        width: 20rem;
}
form>textarea{
        width:20rem;
}
}

.custom-shape-divider-bottom-1678685392 {
        position: relative;
        bottom: 5rem;
        left: 0;
        /* width: 99vw; */
        width: 100vw;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1678685392 svg {
        position: relative;
        display: block;
        width: calc(229% + 1.3px);
        height: 93px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-bottom-1678685392 .shape-fill {
        fill: #173142;
    }