@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500&display=swap');

body::-webkit-scrollbar {
        display: none;

}

html{        
        font-size: 110%;
}
#nav_m_container{
     width: 100%;
     position: sticky;
     top: 0;
     left: 0;
     z-index: 1024;
     transition: .6s ;
}

#nav_m_container ,
#nav_twoCol,
#nav_ul{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

#nav_logo{
        margin-left: 2rem;
        width: 6rem;
        height: 4rem;
        overflow: hidden;
}
.navbar_logo{
        width: 100%;
        height: 100%;
}



#nav_twoCol{
        width: 35rem;
}
#nav_ul{
        width: 28rem;
}
#nav_ul>li{
       list-style: none;
}
#nav_ul>li>a{
       text-decoration: none;
       font-size: 1rem;
       font-weight: 500;
       font-family: 'Krub', sans-serif;
}

#nav_ul a:hover,
#nav_ul a.active{
    color:  #2df5f8;
    text-decoration: underline;
    text-decoration-thickness: .1.5rem;
}


#removemenu,
#addmenu{
        display: none;
}


/* after scroll effect  */
.navcontainer_BS{
        background-color: transparent;
}
.navcontainer_AS{
        background-color:  #1b3a4f;
        box-shadow: 2px 3px 12px rgba(243, 241, 241, 0.332);
}
.nav_a_BS{
        color: rgb(210, 180, 154);
 }
.nav_a_AS{
        color: rgb(255, 255, 255);
 }





@media (max-width:1024px){
        
html{        
        font-size: 100%;
}
#nav_logo{
        width: 4.5rem;
        height: 3.5rem;
        /* border-radius: 5rem 5rem; */
        overflow: hidden;

}
.navbar_logo {
        width: 100%;
        height: 100%;
}
#nav_m_container{
        width: 100%;
        height: 3.8rem;
}

#nav_twoCol{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:fixed;
        top: 3.8rem;
        right: -310px;
        height: 100vh;
        width: 300px;
        background-color:rgb(212, 217, 220);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: .4s ease-in-out;
}
#nav_twoCol.active{
        right: 0;
}

#nav_ul{
        position: absolute;
        top: 2rem;
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
}

#nav_ul>li{
     margin: 0 0 .7rem -1rem;     
}
#nav_ul>li>a{
        color: rgb(27, 26, 26);
}

#addmenu{
        display: block;
        position: relative;
        right: 2rem;
        font-size: 2rem;
}
#addmenu.active{
        display: none;
}

#removemenu{
        display: none;
      
}
#removemenu.active{
        display: block;
        position: absolute;
        top: -2.8rem;
        right: 2.3rem;
        font-size: 1.5rem;
}
}

@media(max-width:583px){
        html{        
                font-size: 90%;
        }
}

@media(max-width:280px){
        html{        
                font-size: 75%;
        }
        #nav_twoCol{
          width: 240px;
        }
}