

.con_m_con{
        padding: 6rem 0;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
}


.contact_info{
        width: 70vw;
        height: 90vh;
        box-shadow: 1px 1px 15px rgba(159, 154, 154, 0.515);
        border-radius: .2rem;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-left: 15%;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        left: 5%;
}
.contact_info>h1{
        font-weight: 500;
        font-size: 2rem;
        font-family: 'Source Sans Pro', sans-serif;

}
.contact_forms{
        width: 40vw;

}
.contact_info_mohit{
        position: absolute;
        left: 10%;
        width: 25rem;
        height: 75vh;
        background-color: #273b63;
        box-shadow: 1px 1px 15px rgba(198, 195, 195, 0.598);
        border-radius: .2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 4;
}
.contact_info_data{
        margin: 1rem 0;
        width: 80%;
        display: flex;
        align-items: center;
}
#contact_icons{
        font-size: 1.2rem;
        margin-right: 1rem;
        color: rgb(253, 253, 253);
}

.contact_info_data>p,
.contact_info_data>a{
        font-weight: 400;
        color: rgb(205, 209, 209);
        font-size: .9rem;
}
#socal_icon_m_con{
        margin-top: 20%;
}



 @media (max-width:1254px){
        
.contact_info{
        width: 70vw;
        height: 100vh;
        padding-left: 19%;
        left: 5%;
}
.contact_info>h1{
        font-weight: 500;
        font-size: 2rem;

}
.contact_forms{
        width: 35vw;
}
.contact_info_mohit{
        position: absolute;
        left: 9%;
        width: 20rem;
        height: 75vh;
}
    
  }
  @media (max-width:954px){
   
.con_m_con{
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
}
        .contact_info{
                width: 90vw;
                height: 100vh;
                padding-left: 0;
                left: 0;
        }
        .contact_info>h1{
                font-weight: 500;
                font-size: 2rem;
        
        }
        .contact_forms{
                width: 75vw;
        }
        .contact_info_mohit{
                position: relative;
                left: 0;

                width: 90vw;
                height: 55vh;
        }
        .contact_info_data{
                margin: .5rem 0;
        }
        #contact_icons{
                font-size: 1.1rem;
                margin-right: 1rem;
                color: rgb(253, 253, 253);
        }

        #socal_icon_m_con{
                margin-top: 5%;
        }


  }
  @media (max-width:454px){
        .contact_info{
                width: 95vw;
        }
        .contact_info>h1{
                font-weight: 500;
                font-size: 1.8rem;
        
        }
        .contact_forms{
                width: 85vw;
        }
        .contact_info_mohit{
                position: relative;
                left: 0;

                width: 95vw;
                height: 55vh;
        }

        #contact_icons{
                font-size: 1.1rem;
        }
        #socal_icon_m_con{
                margin-top: 9%;
        }
  }

