








.cart_tour{
        border: 2px solid rgba(193, 233, 233, 0.21);
        border-radius: .5rem;
        margin: 1rem;
        width: 17rem;
        height: 62vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #e2daee42;
        padding: 1rem ;
        transition: .5s ease;
}
.cart_tour:hover{
   box-shadow: 0 0 15px rgba(191, 197, 199, 0.784);
}
.tour_img_box{
        width: 15rem;
        height: 12rem;
        overflow: hidden;
        border-radius: .5rem;
}
.tour_img_box>img{
        width: 100%;
        height: 100%;
        transition: .5s ease;
}
.tour_img_box>img:hover{
   transform: scale(1.1);
}
.cart_tour>h2{
        font-size: 1.1rem;
        margin: 1rem 0 0 0;
        font-family: 'Inter', sans-serif;
}
.cart_tour>p{
        font-size: .9rem;
        margin: 1rem 0;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
}

/* button */
.animated-button {
        background-color: #00000057;
        border: 2px solid #805AD5;
        color: #805AD5;
        padding: 5px 19px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
      }
      
      .animated-button:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #5613e625;
        transition: all 0.3s ease-out;
      }
      
      .animated-button:hover:before {
        left: 0;
      }
      
      .animated-button span {
        position: relative;
        z-index: 1;
        transition: all 0.3s ease-out;
      }
      
      .animated-button:hover span {
        /* color: #ffffff; */
        transform: translateX(10px);
      }

@media (max-width:1234px){

        .three_cards{
                display: flex;
                flex-wrap:wrap ;
                justify-content: center;
                align-items: baseline;
        }
        .animated-button {
                padding: 5px 14px;
                font-weight: 500;
                font-size: 13px;
                margin: 4px 2px;
              }
}

@media (max-width:487px){
     
        .cart_tour{
                border: 2px solid rgba(193, 233, 233, 0.21);
                border-radius: .5rem;
                margin: 1rem;
                width: 17rem;
                padding: .5rem;
                transition: .5s ease;
        }
        .tour_img_box{
                width: 16rem;
                height: 14rem;
                overflow: hidden;
                border-radius: .5rem;
        }
        .cart_tour>h2{
                font-size: 1rem;
                margin: 1rem 0;
        }
        .cart_tour>p{
                font-size: .9rem;
                margin: .9rem 0;
        } 
          .animated-button {
                padding: 5px 14px;
                font-weight: 500;
                font-size: 13px;
                margin: 4px 2px;
              }
}