
.footer_m_con{
        background-color: #ffffff00;

}

.footer_four_col_{
        padding: 7rem 4rem 3rem 4rem;
        background-color:  #2e446e;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;

}

/* contact box */
.footer_contact_box{
        margin: 2rem 13rem;
        padding: 2rem;
        display: flex;
        position: relative;
        top: 5.6rem;
        border-radius: 2rem;
        box-shadow: 0 0 .5rem rgb(218, 214, 214);
        align-items: center;
        justify-content: space-evenly;
        background-color: #fdfefffb;
    }
    .footer_1contact_twocol>h1{
            color: rgb(45, 43, 52);                
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 2.3rem;
    }
    .footer_1contact_twocol>p{
            display: flex;
            align-items: center;
            color: rgb(66, 58, 58);                
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
    }
    #emailfcb{
            font-size: 2rem;
            color: #9e65ed;
    }
    #emailfcb:hover{
            font-size: 2rem;
            color: rgb(171, 163, 183);
            cursor: pointer;
    }
    .footer_contact_button{
            padding: .5rem 1.6rem;
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            background-color: #ffffffe6;
            border: 2px solid #8b30f4e6;
            color: #8e56cee6;
            transition: .5s ease;
    }
    .footer_contact_box:hover .footer_contact_button{
            background-color: #a56ee3e6;
            border:2px solid #8e56cee6;
            color: #fff;
            cursor: pointer;
    }
    


/*---------->>>>>> column 1 */

.footer_col1{
     width: 18rem;  
}
.footer_col1>img{
        width: 8rem;
        height: 3rem;
        border-radius: 5rem 5rem;
        overflow: hidden;
}
#col_1_p1{
        font-weight: 500;
        color: white;
        
}
#col_1_p2{
        width: 15rem;
        font-weight: 400;
        font-size: .8rem;
        color: #a3b1bf;
        margin-bottom: .5rem;
}
#col_1_p3{
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #a3b1bf;
        font-size: .9rem;  
        cursor: pointer;
        
}
#col_1_p3:hover{
        color: #32df8e;
}

#col_1_arrow{
        position: relative;
        top: .2rem;
        transition: .5s;
}
#col_1_p3:hover #col_1_arrow{
        position: relative;
        left: .5rem;
}


/*---------->>>>>> column 3 */
.footer_col3{
     width: 18em;
     margin-left: 1rem;
}
.footer_col3>h3{
        color: white;
        font-weight: 700;
        font-size: 1rem;
        font-family: sans-serif;
}
#infofooterdata{
        width: 13rem;
        font-weight: 400;
        font-size: .8rem;
        color: #a3b1bf;
        margin-bottom: .5rem;
}
.footer_col3>div{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #a3b1bf;
        font-size: .8rem;
        font-weight: 500;
}
.footer_col3>div:hover{
        color: #32df8e;
}
#smallinfo_icon{
        margin-right: 5px;
}

/*---------->>>>>> column 4 */
.footer_col4{
     width: 18rem;
}
.footer_col4>h3{
        color: white;
        font-weight: 500;
        font-size: 1rem;
}
.footer_col4_p{
        color: #a3b1bf;
        font-size: .9rem;
        margin-bottom: 1rem;
}
.footer_col4_emailbox{
        background-color: #94a6b92b;
        display: grid;
        grid-template-columns: 1fr .2fr;
}
.footer_col4_emailbox>input{
        outline: none;
        border: none;
        border-radius: .2rem;
        padding: .7rem;
        color: rgb(255, 255, 255);
        background-color: #94a6b900;
    
}
.sendmail{
        color: rgb(255, 255, 255);
        font-size: 13px;
        font-weight: 500;
        background-color: #1ABB92;
        padding: 0 5px;
        margin: 5px ;
        border-radius: .1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
}
#socal_icon_m_con{
       margin-top: 1rem;
        display: flex;
        width: 6rem;
        justify-content: space-between;
}

.footer_socal_icon{
        color: #fafafa;
}

.footer_socal_icon:hover{
        color: #9e65ed;
        cursor: pointer;
}


/* footer two column */
.footer_two_col{
       
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: space-between;
        padding: .5rem 10vw;
        background-color: #283645;
}
.copyright{
        width: 40vw;
}
.copyright>p{
        color: #707e8c;
        font-size: .9rem;
}
.copyright>p:hover{
        color: #1ABB92;
}

.footer_navbar_{
        width: 30vw;
}
.footer_navbar_>ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
}
.footer_navbar_>ul>li>a{
    text-decoration: none;
    font-size: .8rem;
    font-weight: 700;
    color: #707e8c;
    
}
.footer_navbar_>ul>li>a:hover{
    color: #1ABB92;
    
}

@media(max-width:1024px){
        .footer_contact_box{
                margin: 2rem 3rem;
                padding: 2rem;
                display: flex;
                position: relative;
                top: 3rem;
                border-radius: 2rem;
                align-items: center;
                justify-content: space-evenly;
                background-color: #fffffffb;
            }

        .footer_four_col_{
                padding: 1rem 2rem;
                display: flex;
                gap: 5rem;
                flex-wrap: wrap;
        
        }
/* footer two column */
.footer_two_col{
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
}
.copyright>p{
        text-align: center;
}
.copyright{
        width: 30rem;
}
.footer_navbar_{
        width: 30rem;
}

        }

@media(max-width:655px){
        .footer_contact_button{
                padding: .3rem 1rem;
                font-size: 1rem;
        }
        .footer_four_col_{
                padding: 1rem 2rem;
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
        
        }
        .footer_col4{
                width: 90%;
           }

}

@media(max-width:505px){
        .footer_contact_box{
                margin: 2rem 0 2.6rem 0 ;
                padding: 2rem;
                display: flex;
                position: relative;
                top: 3rem;
                border-radius: 1rem;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                background-color: #fffffffb;
            }

        .footer_four_col_{
                padding: 1rem 0rem;
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
        
        }
        .footer_col1{
                width: 90%;  
           }
           .footer_col3{
                width: 90%;  
           }

           /* footer two column */

.copyright{
        width: 14rem;
}
.footer_navbar_{
        width: 15rem;
}
.footer_navbar_>ul{
        width: 12rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
   
}


}

