.gallery_m_con{
        margin: 8rem 0;     
}

.gallery_heading{
        display: flex;
        justify-content: center;
        align-items: center;

}
.gallery_h1{
        font-size: 2.8rem;
        font-family: 'Source Sans Pro', sans-serif;
}

.gallery_images::-webkit-scrollbar {
        display: none;

}


.gallery_images{
        padding: 0rem 1rem;
        margin: 6rem 0;
        height: 100vh;
        overflow: scroll;
}

@media screen and (max-width: 554px){
        .gallery_m_con{
           margin: 5rem 0;     
        }
        .gallery_images{
                padding: 0rem .5rem;
                margin: 4rem 0;
                height: 110vh;
        }
}