
.hero_m_con{
        height: 100vh;
        margin-bottom: 5rem ;
        background-image: url('../assets/bgc.jpg');
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
}

.hero_twocol{
        display: flex;
        justify-items: center;
        align-items: center;
        
}
.heri_F_col{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
}
#hero_h1{
        width: 40rem;
        font-size: 4rem;
        position: absolute;
        top:32%;
        font-weight: 700;
        left: 5%;
        font-size: 3rem;
        z-index: 5;
        color: white;
        font-family: 'Noto Sans SC', sans-serif;
}
#hero_p1{
        width: 40rem;
        font-weight: 600;
        position: absolute;
        top: 42%;
        left: 5%;
        font-size: 1.8rem;
        z-index: 5;
        color: white;
        font-family: 'Noto Sans SC', sans-serif;
}
#hero_p2{
        width: 40rem;
        position: absolute;
        bottom: 45%;
        left: 5%;
        font-size: 1.8rem;
        z-index: 5;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
}
#hero_p3{
        width: 40rem;
        position: absolute;
        bottom: 32%;
        left: 5%;
        font-size: 1rem;
        z-index: 5;
        color: white;
}


/* button */
.animated_button {
        top: 22%;
        left: 5%;
        width: 10rem;
        background-color: #ffffff;
        border-radius: 15rem 15rem;
        border: 2px solid #805AD5;
        color: #805AD5;
        padding: 5px 19px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        margin: 4px 2px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
      }
      
      .animated_button:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #721eccee;
        transition: all 0.3s ease-out;
      }
      
      .animated_button:hover:before {
        left: 0;
      }
      
      .animated_button span {
        position: relative;
        z-index: 1;
        transition: all 0.3s ease-out;
      }
      
      .animated_button:hover span {
        color: #ffffff;
        transform: translateX(10px);
      }



      @media(max-width:694px){

.heri_F_col{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
}
#hero_h1{
        width: 30rem;
        font-size: 2.5rem;
        position: absolute;
        top:24%;
        font-weight: 700;
        left: 5%;
        z-index: 5;
}
#hero_p1{
        width: 30rem;
        font-weight: 500;
        position: absolute;
        top: 33%;
        left: 5%;
        font-size: 1.9rem;
        z-index: 5;
}
#hero_p2{
        width: 30rem;
        position: absolute;
        bottom: 45%;
        left: 5%;
        font-size: 1.8rem;
        z-index: 5;
}
#hero_p3{
        width: 30rem;
        position: absolute;
        bottom: 32%;
        left: 5%;
        font-size: 1rem;
        z-index: 5;
}



/* button */
.animated_button {
        top: 22%;
        left: 5%;
        width: 8rem;
      }

      }

      @media(max-width:505px){

        .hero_m_con{
                height: 100vh;
                margin-bottom: 5rem ;
                background-image: url('../assets/bgc.jpg');
                background-size: cover;
                background-position: bottom;
        }
        

        #hero_h1{
                width: 17rem;
                font-size: 2.2rem;
                left: 5%;
        }
        #hero_p1{
                width: 17rem;
                font-weight: 500;
                font-size: 1.3rem;
        }
        #hero_p2{
                width: 17rem;
                bottom: 54%;
                position: absolute;
                font-size: 1.1rem;
        }
        #hero_p3{
                width: 17rem;
                bottom: 42%;
                font-size: 1rem;
        }
        
      
        
        /* button */
        .animated_button {
                top: 12%;
                left: 5%;
                width: 8rem;
              }
        
              }