
body::-webkit-scrollbar {
        display: none;

}
html{        
        font-size: 110%;
}

@media(max-width:1024px){
        html{
                font-size: 100%;
        }
}

@media(max-width:583px){
        html{        
                font-size: 95%;
        }
}

@media(max-width:280px){
        html{        
                font-size: 75%;
        }
}
