.animated-button {
        background-color: #ffffff00;
        border: none;
        color: #7C7484;
        display: inline-block;
        font-size: 14px;
        height: 2.3rem;
        width: 1.8rem;
        cursor: pointer;
        position: relative;
        overflow: hidden;
      }
      
      .animated-button:before {
        content: "";
        position: absolute;
        top: 0;
        top: -100%;
        height:100%;
        width: 100%;
        transition: all 0.2s ease-out;
      }
      
      .animated-button:hover:before {
        top: 0;
      }
      
      .animated-button span {
        position: relative;
        z-index: 1;
        transition: all 0.2s ease-out;
      }
      
      .animated-button:hover span {
        color: #ffffff;
        transform: translateX(10px);
      }
      .animated_icon{
       align-self: center;
       position: relative;
       top: 30%;
       left: 30%;
      }


        .facebook:before {
                background: #3b5998;
        }
        .google:before {
                background: #db4437;
        }
        .twitter:before {
                background: #1da1f2;
        }
        .pinterest:before {
                background: #bd081c;
        }
        .behance:before {
                background: #073282;
        }
        .dribbble:before {
                background: #ea4c89;
        }