


/*--------->>>>>  Home-1 style  <<<--------*/
.home1_two_con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}
.first_con{
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.first_h1{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 8px;
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    letter-spacing: .025em;
    color: #506a85;
}
.first_p{ 
    font-size: 1.2rem;
    line-height: 29px;
    width: 50vw;
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #637b94;
}

.second_con{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;     

}
.agency_cart_{
        width: 25vw;
        margin: 1rem 0;
}
.agency_twocol{
        display: grid;
        grid-template-columns: .4fr 1fr;

}
#agency_icons{
        position: relative;
        top: 10%;
        font-size: 4rem;
        color: #1ABB92;
        width: 100%;
}
.agency_content{
  padding: 0 0 0 .5rem;
}
.agency_content>h1{
        font-size: 1.6rem;
        color: #506a85;
        line-height: 23px;
        font-weight: 500;
        font-family: 'Lato',sans-serif;
}
.agency_content>p{
     font-size: .9rem;
     color: #70859b;
     line-height: 23px;
     font-family: 'Source Sans Pro', sans-serif;
}

/*--------->>>>>   Home -2 style <<--------- */
.home2_three_con{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;
        padding: 6rem 0 0 0 ;
        background-color: #f2f5f7;
    }
    .home2_second_con{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;  
        margin: 3rem 0;   
     }
     .home2_img_cart_det{
        background-color: #fff;
        box-shadow: 0 0 4px rgba(191, 195, 202, 0.868);
     }
     .home2_img_con{
        width: 100%;
        height: 21rem;
     }
     .home2_img_con>img{
      width:  100%;
      height: 100%;
     }
     .home2_data_con>h1{
        text-align: center;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        letter-spacing: .025em;
        color: #506a85;
        font-family: 'Lato',sans-serif;
     }
     .home2_data_con>p{
        text-align: center;
        font-size: .9rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        letter-spacing: .025em;
        color: #506a85;
        font-family: 'Source Sans Pro', sans-serif;
         
     }

     /* Cart-1 style */
     .Cart1_con{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: -3rem 0 0 0;
        padding: 6rem 0;
        background-color: #ffffff;
    }
    .btn{
        width: 8rem ;
        height: 3rem ;
        border-radius: 5px ;
        border: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: #1abb9c;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: .85rem ;
        font-weight: 700;
        line-height: 21px ;
        color: white;
        font-style: bold;
        gap: 30px ;
        transition: .5s;    
        cursor: pointer;
    }
    .btn:hover{
         background-color:#12a588;
    
    }

 @media(max-width:1154px){
        /* home 2 style */
             .home2_img_cart_det{
                height: 22rem;
                background-color: #fff;
                box-shadow: 0 0 4px rgba(191, 195, 202, 0.868);
             }
             .home2_img_con{
                width: 100%;
                height: 15rem;
             }
             .home2_data_con{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 1rem;
             }
        
 }


@media(max-width:994px){
  
        .second_con{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 1rem;     
        
        }
        .agency_cart_{
                width: 80vw;
                margin: 1rem 0;
        }
        .agency_twocol{
                display: grid;
                grid-template-columns: .2fr 1fr;
        
        }
        #agency_icons{
                position: relative;
                top: 10%;
        }
        .agency_content{
          padding: 0 ;
        }
        .agency_content>p{
             font-size: 1rem;
        }
}

@media(max-width:794px){
        /* home-2 style */
        .home2_second_con{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 1rem;  
                margin: 3rem 0;   
             }

}


@media(max-width:594px){
        .first_con{
                width: 90vw;
        }
        .first_h1{
                font-size: 2rem;
            }
            .first_p{ 
                font-size: 1.1rem;
                width: 80vw;
                font-weight: 500;
            }
        .agency_cart_{
                width: 90vw;
                margin: 1rem 0;
        }
        .agency_content{
          padding: 0 0 0 .5rem ;
        }

  
        
}
             
@media(max-width:354px){
              /* home2 style */
              .home2_img_cart_det{
                height: 22rem;
                width: 19rem;
                background-color: #fff;
                box-shadow: 0 0 4px rgba(191, 195, 202, 0.868);
             }
             .home2_img_con{
                width: 100%;
                height: 15rem;
             }
}