.contact_main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
        height: 80vh;
        padding: 0 5%;

}
.contact_info{
        width: 20rem;
        height: 79.8vh;
        border-radius: 0 1.5rem 1.5rem 0;
        background-color: #ac85f3ea;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
}
.contact_info>h1{
        font-weight: 500;
        font-size: 2rem;
        color: white;

}
.contact_info_mohit{
        position: absolute;
        top: 15%;
        left: 50%;
        width: 25rem;
        height: 30rem;
        border-radius: 0 1.5rem 1.5rem 0;
        background-color: #f6f7f9;
        box-shadow: 1px 1px 15px rgba(159, 154, 154, 0.515);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.contact_info_data{
        margin: 1rem 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
#contact_icons{
        font-size: 2rem;
        color: rgb(29, 28, 30);
}
.contact_info_data>p,
.contact_info_data>a{
        font-weight: 500;
        color: rgb(85, 83, 90);
}

.contact_3_con{
        display: flex;  
        align-items: center;
        justify-content: center;
        padding: 2rem  0;
        width: 100%;
  }
  .contact_3_con>form{
        display: flex;  
        flex-direction: column;
        width: 100%;
        height: 100%;
      
  }
  .contact_3_con>form>span{
          color:  #9467e8ea;
          font-weight: 500;
          position: relative;
          top: .1rem; 
          
  }
  .contact_3_con>form>h2{
          color: rgb(4, 78, 117);
          font-weight: 500;
          position: relative;
          font-size: 2rem;
          text-align: start;
          font-family: 'Barlow', sans-serif;
          
  }
  .contact_3_con>form>input{
          font-weight: 500;
          position: relative;
          padding: .5rem 1rem;
          background-color: #ffffff00;
          font-size: 1rem;
          margin: .1rem;
          width: 100%rem;
          text-align: start;
          border: 1px solid rgb(133, 123, 123);
          
        }
        .contact_3_con>form>textarea{
          border: 1px solid rgb(139, 133, 133);
          background-color: #ffffff00;
          font-weight: 500;
          position: relative;
          padding: .5rem 2rem;
          font-size: 1rem;
          margin: .1rem;
          text-align: start;   
  }

  .contact_3_con>form>button{
          width: 9rem;
          padding: .3rem 0;
          font-weight: 700;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1rem;
          margin: 1rem 0;
          color: white;
          background-color:#a980f9e0;
          border: 2px solid #a86aebc7;
          transition: .5s ease;
  }
  .contact_3_con>form>button:hover{
          cursor: pointer;
          margin: 1rem 0;
          color: #8431dcc7;
          background-color:#fff;
          border:2px solid #8431dcc7;
  }
  
  
  @media (max-width:1254px){
        .contact_info{
                width: 17rem;
                height: 79.8vh;
        }
        .contact_info_mohit{
                top: 13%;
                left: 40%;
                width: 22rem;
                height: 30rem;
        }
        .contact_info_data{
                margin: 1rem 0;
                width: 80%;
        }
  }
  @media (max-width:1024px){
        .contact_main{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 8rem;
                height: 80vh;
                padding: 0 5%;
        
        }
        .contact_info{
                width: 100%;
                height: 29.8vh;
                border-radius: 0 0 1.5rem 1.5rem;
        }
        .contact_info_mohit{
                top: 45%;
                left: 10%;
                width: 80%;
                height: 15rem;
                border-radius: 0 0 1.5rem 1.5rem ;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
        }
        .contact_info_data{
                margin: 1rem 0;
                width: 30%;
        }
        .contact_3_con>form>textarea{
                height: 5rem;
        }

  }
  @media (max-width:784px){
        .contact_info_mohit{
                top: 35%;
                left: 5%;
                width: 90%;
                height: 15rem;
                border-radius: 0 0 1.5rem 1.5rem ;
        }
        .contact_info_data>p,
        .contact_info_data>a{
                font-size: .9rem;
}
     
  }
  @media (max-width:654px){
        .contact_main{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 1rem;
                height: 100vh;
                padding: 0 5%;
                justify-content: center;        
        
        }
        .contact_info{
                position: relative;
                top: -14rem;
                width: 100%;
                height: 29.8vh;
                border-radius: 0 0 1.5rem 1.5rem;
        }
        .contact_info_mohit{
                width: 90%;
                height: 25rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        }
        .contact_info_data{
                margin: 1rem 0;
                width: 80%;
        }
      
  }
  @media (max-width:324px){
        .contact_main{
                justify-items: center;        
        
        }
        .contact_3_con>form>h2{
            font-size: 1.5rem;
        }
        .contact_info{
                top: -16rem;
                width: 90%;
        }

        .contact_3_con{
                width: 90%;
          }
  }