@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');


.gallery_m_con{
        padding: 0 3%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
}
.gallery_m_con>h1{
        font-size: 3rem;
        font-family: 'Mukta', sans-serif;
        font-weight: 500;
        margin: 2rem 0;
}
.gallery_grid_two{
        display: grid;
        grid-template-columns: 60% 40%;
        justify-items: center;
        align-items: center;
}
.grid_big_image{
        width: 100%;
        height: 80vh;
}
.grid_big_image>img{
        width: 100%;
        height: 100%;
}

.grid_hole_image{
        width: 100%;
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        background-color: #936aea32;
        overflow: scroll;
}
.grid_hole_image::-webkit-scrollbar {
        display: none;

}

.next_img_btn{
        width: 10rem;
        height: 8rem;
        overflow: hidden;
        display: flex;
        transition: .3s ease;
}
.next_img_btn>img{
        width: 100%;
        height: 100%;
}
.next_img_btn:hover{
        box-shadow: 0 0 28px  rgb(104, 111, 111);
}

@media(max-width:1175px){
        .gallery_m_con{
                padding: 0 0 0 3%; 
                margin-top: -6rem; 
        }

        .grid_hole_image{
                width: 80%;
        }
}
@media(max-width:974px){
        .gallery_m_con{
                padding: 0 0 0 3%; 
                margin-top: 8rem; 
        }
        .gallery_grid_two{
                grid-template-columns: 60% 40%;
        }
}
@media(max-width:834px){
        .gallery_m_con{
                padding: 0 0 0 3%; 
                margin-top: 8rem; 
        }
        .gallery_grid_two{
                display: grid;
                grid-template-columns: 75% 25%;
        }

        .grid_hole_image{
                width: 80%;
        }
}
@media(max-width:734px){
        .gallery_m_con{
                padding: 0 3%; 
                margin-top: 13rem; 
        }
        .gallery_grid_two{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 1rem;
        }

        .grid_hole_image{
                width: 100%;
                height: 45vh;
                gap: .5rem;
                margin-bottom: 5rem;
        } 
        .grid_big_image{
                width: 100%;
                height: 60vh;
        }
        .next_img_btn{
                width: 8rem;
                height: 6rem;
        }
       
}
@media(max-width:429px){
        .grid_hole_image{
                width: 100%;
                height: 45vh;
                gap: .5rem;
        } 
        .grid_big_image{
                width: 100%;
                height: 36vh;
        }
        .next_img_btn{
                width: 7rem;
                height: 5.5rem;
        }
       
}