@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');



body::-webkit-scrollbar {
        display: none;

}

#home{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
}
.home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: relative;
        min-height: 100vh;
        z-index: 0;
    }

    .home .content{
        text-align: center;
    }

    .home .content h3{
        font-size: 3.5rem;
        font-weight: 500;
        font-family: 'Source Sans Pro', sans-serif;
        color: rgb(255, 255, 255);
        padding: 2rem 4rem;
        border-radius: 1rem 0 1rem 0;
        background-color: #0101012c;
        text-shadow: 0 0 4px rgba(100, 98, 102, 0.533);
        text-transform: uppercase;
}
.home .content p{
        font-size: 2.5rem ;
        color: rgb(184, 171, 211);
        font-family: 'Roboto Condensed', sans-serif;
        padding: .5rem 0;
    }

    .home .video-container video{
       position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100vh;
        width: 100%;
        object-fit: cover; 
    
    }


.discoverbutton{
        border: 2px solid rgb(110, 52, 216);
        color: rgb(255, 255, 255);
        padding: .5rem 2rem;
        border-radius: 1.5rem;
        font-weight: 500;
        font-family: sans-serif;
        transition: .5s ease;
}
.discoverbutton:hover{
        background-color: #a850d3;
        cursor: pointer;
}




@media (max-width:894px){
      .home .content h3{
            font-size: 2.5rem;
        }
     .home .content p{
        font-size: 1.5rem ;
    }

}
@media (max-width:524px){
      .home .content h3{
            font-size: 2rem;
        }
     .home .content p{
        font-size: 1rem ;
    }


}
