

.pricing-table {
        margin: 0 auto;
        width: 70vw;
        height: 70%;
      }
      
      .pricing-column {
        width: 20rem;
        height: 30rem;
        margin: 20px;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      
      .pricing-header {
        background-color: #4204b5c5;
        color: #fff;
        padding: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      
      .pricing-header h3 {
        margin-top: 0;
        font-weight: 500;
        font-size: 1.3rem;
      }
      
      .pricing-header h2 {
        margin-bottom: 0;
      }
      
      .pricing-header span {
        font-size: 20px;
      }
      
      .pricing-features {
        list-style: none;
        padding: 20px;
        margin: 0;
      }
      
      .pricing-features li {
        margin-bottom: 10px;
        text-align: start;
        color: black;
      }
      #priceP{
        font-weight: 500;
        color: black;
      }
      .btn {
        display: inline-block;
        background-color: #4204b5c5;
        color: #fff;
        padding: 10px 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }
      
      .btn:hover {
        background-color: #003b75;
      }
      @media(max-width:1224px){
        .pricing-table {
          width: 100vw;
          height: 70%;
        }
      }
      @media(max-width:677px){
        .pricing-table {
          position: relative;
          bottom: 20%;

        }
  
        .pricing-column {
          width: 17rem;
          height: 30rem;
          margin: 20px;
        }
      }



      /* @media(max-width:1224px){
        .pricing-table {
          width: 100vw;
          height: 70%;
        }
      } */