.about_main_con{
padding: 2rem 0rem;

}

.about_square_container::after{
        filter: brightness(20%);
}
.about_square_container{
        width: 100%;
        height: 40vh;
        background-image: url(../assets/home/s1C.jpg);
        background-position: top;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: -3rem;
}
.about_square_container>h1{
        color: white;
        padding: .1rem 1rem;
        background-color: rgba(0, 0, 0, 0.181);
        text-align: center;
        border-radius: .5rem;
        font-size: 3rem;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
}

 .about_two_row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

 }
 .about_first_r{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
 }
 .about_first_r_col{
        width: 40%;
 }
 .about_first_r_col>img{
        width: 100%;
        height: 100%;
 }
 .about_second_r_col{
        width: 40vw;
 }
 .about_second_r_col>p{
        color: rgb(59, 56, 56);
 }


 .about_second_r{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 3rem 2rem;
        justify-content: center;
        align-items: center;
 }
 .about_deprment_cart{
        border: 2px solid rgb(242, 236, 236);
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        background-color: #f6fcfc;
        padding: 1rem;
        position: relative;
        overflow: hidden;
 }
.about_deprment_cart>p{
        text-align: center;
}

 .about_dep_img{
        width: 11rem;
        height: 14rem;
        border-radius: .3rem;
        overflow: hidden;
 }
 .about_dep_img>img{
        width: 100%;
        height: 100%;
 }
      
       #img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
      }
      
      .about_deprment_cart:hover  #img{
        transform: scale(1.2);
      }
      
      
      
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.159);
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      
      .overlay p {
        color: #fff;
        font-size: 24px;
        text-align: center;
      }
      
      .about_deprment_cart:hover .overlay {
        opacity: 1;
      }

      #about_icon{
        transition: .5s ease;
      }
      #about_icon:hover{
        cursor: pointer;
        color: rgb(0, 213, 255);
      }



@media (max-width:1154px){
                .about_first_r{
                        display: flex;
                        flex-direction: column;
                 }
                 .about_first_r_col{
                        width: 60%;
                 }
                 .about_second_r_col{
                        width: 70vw;
                 }
                 .about_second_r_col>p{
                        color: rgb(59, 56, 56);
                 }
}

@media (max-width:754px){
        .about_square_container{
                width: 100%;
                height: 30vh;
        }
        .about_square_container>h1{
                color: rgb(255, 255, 255);
                background-color: rgba(0, 0, 0, 0.41);
     }
                .about_first_r{
                        display: flex;
                        flex-direction: column;
                 }
                 .about_first_r_col{
                        width: 80%;
                 }
                 .about_second_r_col{
                        width: 90vw;
                 }
                 .about_second_r_col>p{
                        color: rgb(59, 56, 56);
                 }
}