
.footer_m_con{
        background-color: #f38d8d;

}

.footer_four_col_{
        padding: 3rem 2rem;
        background-color: #0e2737;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: auto;

}
.footer_col1{
     width: 20rem;  
}
.footer_col1>img{
        width: 4rem;
        height: 4rem;
        border-radius: 5rem 5rem;
        overflow: hidden;
}
.footer_col1>a{
        color: cyan;             
        text-decoration: none;
        font-weight: 500;
        font-size: 1.5rem;
}
#footer_location{
        color: #fff;
}
#footer_location_data{
        color: #fff;
}
#copyright{
        color: rgb(208, 202, 202);
}

.footer_col2{
     width: 20rem;
}
.footer_col2>h3{
        color: white;
        font-weight: 500;
}
.footer_col2_p>a{
        text-decoration: none;
        color: white;
        transform: .3s ease;
        font-weight: 500;
}
.footer_col2_p>a:hover{
        cursor: pointer;
       color: rgb(0, 255, 238);
}
.footer_col2_span{
        color: #cbc6c6;
}

.footer_col3{
     width: 10rem;
}
.footer_col3>h3{
        color: white;
        font-weight: 500;
}

.footer_col3>p,
.footer_col3>p>a{
        text-decoration: none;
        color: white;
        font-weight: 500;
}
.footer_col3>p>a:hover,
.footer_col3>p:hover{
        color: rgb(0, 255, 229);
        font-weight: 500;
}
.footer_col4{
     width: 20rem;
}
.footer_col4>h3{
        color: white;
        font-weight: 500;
}
.footer_col4_p{
        color: white;
}
.footer_col4_emailbox{
        display: flex;
}
#email{
        padding: 0rem 4rem;
        outline: none;
        border-radius: 2rem;
}
.sendmail{
        color: rgb(255, 255, 255);
        font-size: 30px;
        background-color: rgb(0, 255, 225);
        padding:0px 8px ;
        margin: 5px;
        position: relative;
        right: 3rem;
        border-radius: 50%;
}
#socal_icon_m_con{
        width: 10rem;
        display: flex;
        justify-content: space-evenly;
}
.footer_socal_icon{
        color: white;
}
.footer_socal_icon:hover{
        cursor: pointer;
        color: rgb(0, 255, 229);
}


@media(max-width:1024px){

            .footer_four_col_{
                padding: 1rem 2rem;
                background-color: #0e2737;
                display: flex;
                gap: 5rem;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
        
        }
        .footer_col1{
                width: 40%;  
           }
           .footer_col2{
                width: 40%;  
           }
           .footer_col3{
                width: 40%;  
           }
           .footer_col4{
                width: 40%;  
           }
}

@media(max-width:655px){
        .footer_four_col_{
                padding: 1rem 2rem;
                background-color: #0e2737;
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
        
        }
   
        #email{
                padding: 0rem 2rem;
        }
        .sendmail{
                font-size: 20px;
                right: 3rem;
        }

}

@media(max-width:505px){
        .footer_four_col_{
                padding: 1rem 2rem;
                background-color: #0e2737;
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
        
        }
        .footer_col1{
                width: 90%;  
           }
           .footer_col2{
                width: 90%;  
           }
           .footer_col3{
                width: 90%;  
           }
           .footer_col4{
                width: 90%;  
           }

}

@media(max-width:324px){
        #email{
                position: relative;
                left: 0;
                padding: 0;
        }
        .sendmail{
                font-size: 15px;
                right: 3rem;
        }
        .footer_four_col_{
                padding: 1rem 0rem;
        }
} 