
/* Gallery */

.gallery_m_con{
        display: flex;
        flex-direction: column;
        padding: 3rem 0rem;
}
.gallery_square_container{
        width: 100%;
        height: 40vh;
        background-image: url(../assets/bgimg_1.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* filter: brightness(50%); */
        margin-bottom: 1rem;
        margin-top: -3rem;
}
.gallery_square_container>h1{
        color: white;
        text-align: center;
        font-size: 3rem;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.image-grid{
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-auto-rows: 210px;
        grid-gap:10px;

}

.image-grid>img{
        width:100%;
        height: 100%;
        object-fit: cover;
        transition: .5s ease-out;
}
.image-grid>img:hover{
        transform: scale(1.031);
        object-fit: cover;
        box-shadow: 0 0 10px rgb(210, 212, 212);
}


.v_stratch{
    grid-row: span 2;
}
.h_stratch{
    grid-column: span 2;
}
.big_startch{
     grid-row: span 2;
     grid-column: span 2;
}

@media(max-width:500px){

        .image-grid{
                padding: 10px;

                display: grid;
                grid-template-columns: repeat(2,1fr);
                /* grid-template-columns: repeat(auto-fit, minmax(200px,2fr)); */
                grid-auto-rows: 100px;
                gap:4px;
        }
        .image-grid-col-2{
           grid-column: span 1;
        }
        .image-grid-row-2{
           grid-row: span 1;
        }

        .v_stratch{
          grid-row: span 1;
        }
         .h_stratch{
          grid-column: span 1;
        }
        .big_startch{
            grid-column:span 1;
            grid-row:span 1;
        }
}