

.carousel_m_c{
      
        width: 100vw;
        height: 90vh;
        
}
.carsoul_image_size{
        width: 100%;
        height: 90vh;  
}
.carsoul_heading_{
        position: absolute;
        top: 45%;
        left: 43%;
        padding:10px;
        background-color: #0000003f;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2rem;
        box-shadow: 0 0 10px rgba(13, 13, 13, 0.249);

}

@media (max-width:824px){

.carsoul_heading_{
        top: 45%;
        left: 45%;
        font-size: 1.5rem;
  }
}
@media (max-width:594px){

.carsoul_heading_{
        position: absolute;
        top: 45%;
        left: 28%;

  }
  .carousel_m_c{
      
        width: 100vw;
        height: 40vh;
}
.carsoul_image_size{
        width: 100%;
        height: 40vh;  
}
  
}