.carsole3_m_con{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem;
        
}
.carsole3_first_con{
        width: 35rem;
        height: 25rem;
        border-radius: .2rem;
        overflow: hidden;
}
.carsole3_first_images_con{
  width: 35rem;
  height: 25rem;
}
.carsole3_imgs{
  width: 100%;
  height: 100%;
}
.carsole3_second_con{
        width: 40%;
        padding-left: 1rem ;
}
.carsole_span_name{
        position:relative ;
        color: rgb(0, 255, 225);
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        
}
.carsole_h1{
        font-size: 2.5rem;
        font-weight: 500;
        position: relative;
        top: -1rem;
        color: rgb(55, 76, 102);
}
.carsole_custmer_review{
        position: relative;
        top: -1rem;
}
.carsole_custmer_review>p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(96, 94, 104);
}
.carsole_customer_names{
        color: rgb(55, 76, 102);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;

}
.carsole_customer_names>span{
        color: cyan;
        font-size: .8rem;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
}
.star{
        color: rgb(252, 232, 15);
}

@media (max-width:1024px) {
        .carsole3_first_con{
                width: 30rem;
                height: 22rem;
                border-radius: .2rem;
                overflow: hidden;
        }
        .carsole3_first_images_con{
          width: 30rem;
          height: 22rem;
        }
        .carsole_span_name{
                position:relative ;
                top: 2rem;
                
        }
        .carsole_h1{
                position: relative;
                top: 1rem;
        }

}


@media (max-width:934px){
        .carsole3_first_con{
                width: 26rem;
                height: 17rem;
                border-radius: .2rem;
                overflow: hidden;
        }
        .carsole3_first_images_con{
          width: 26rem;
          height: 17em;
        }
        .carsole_span_name{
                position:relative ;
                top: 2rem;
                
        }
        .carsole_h1{
                position: relative;
                top: 1rem;
                font-size: 1.8rem;
        }
}
@media (max-width:816px){
           .carsole3_m_con{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2rem 0rem;
                background-color:#0e2737;       
        }
        .carsole3_first_con{
                width: 26rem;
                height: 17rem;
        }
        .carsole3_first_images_con{
          width: 26rem;
          height: 17em;
        }
        .carsole_span_name{
                position:relative ;
                top: 2rem;
                text-shadow:0 0 0;
        }
        .carsole_h1{
                position: relative;
                top: 1rem;
                font-size: 1.8rem;
                color: white;
        }
        .carsole_custmer_review>p{
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(255, 255, 255);
                padding-left:2px ;
            }
            .carsole_customer_names{
                color: rgb(255, 255, 255)
        }
        .carsole_customer_names>span{
                text-shadow: 0 0 0;
        }
}
@media (max-width:734px){
           .carsole3_m_con{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2rem 0rem;
                background-color:#0e2737;       
        }
      
        .carsole3_second_con{
                width: 26rem;
                padding-left: 1rem ;
        }
   
}
@media (max-width:384px){
        .carsole3_first_con{
                width: 80%;
                height: 14rem;
                border-radius: .2rem;
                overflow: hidden;
        }
        .carsole3_first_images_con{
          width: 80%;
          height: 14rem;
        }
        .carsole3_second_con{
                width: 80%;
        }
   
}