.room_2col{
        width: 80vw;
}
.room_2_twoCol_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        position: relative;
}
.room2_firstCol{
}
.room2_SecondCol{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        position: relative;
        top: 3rem; 

        
}



@media(max-width:1244px){
        .room_2_twoCol_grid{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 1rem;
                position: relative;
                justify-content: center;
                align-items: center;
        } 
}



@media(max-width:354px){
  
} 